@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 20;
  font-display: block;
  src: url('./lib/UbuntuMono-Regular.ttf') format('truetype');
}
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Ubuntu Mono';
}
#root {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#debug {
  position: absolute;
  color: black;
  z-index: 999;
}

#creature_creator {
  position: absolute;
  z-index: 999;
  right: 0;
  background-color: #000000c4;
  color: white;
  padding: 30px;
}
#position {
  background-color: #555555;
}
label {
  margin: 10px;
  width: 100%;
  display: block;
}
input {
  display: block;
  width: 100%;
  margin: 10px;
}
input[type='submit'] {
  background-color: #555;
  border: none;
  padding: 10px;
  color: white;
}
input[type='submit']:hover {
  background-color: #222;
  cursor: pointer;
}
