body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#debug {
  position: absolute;
  color: black;
  z-index: 999;
}
