@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 20;
  font-display: block;
  src: url('./lib/UbuntuMono-Regular.ttf') format('truetype');
}
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Ubuntu Mono';
  background-color: #000000c4;
}
#messages {
  z-index: 1000;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
}
.message {
  font-size: 1.2em;
  border: solid;
  border-width: 1px;
  padding: 5px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
.message-error {
  background-color: rgba(255, 0, 0, 0.5);
  border-color: darkred;
}
.message-warn {
  background-color: rgba(255, 255, 0, 0.5);
  border-color: darkorange;
}
.message-info {
  background-color: rgba(0, 0, 255, 0.5);
  border-color: darkblue;
}

#creature_creator {
  text-align: center;
  color: white;
}
#position {
  background-color: #555555;
}
label {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.2em;
}
input {
  width: 90%;
  margin: 10px 0 10px 0;
}
input[type='submit'] {
  background-color: #0083ee;
  border: none;
  padding: 20px;
  color: white;
}
input:disabled input[type='submit']:hover {
  background-color: #0068bd;
}
input[type='submit']:hover {
  background-color: #0068bd;
  cursor: pointer;
}
input:disabled,
input:disabled input[type='submit']:hover {
  background-color: #4b4b4b !important;
  cursor: default !important;
}
.IroWheel,
.IroSlider {
  margin-left: auto;
  margin-right: auto;
}

.column {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.column.right {
  right: 0;
  left: auto;
}
.column.left {
  left: 0;
  right: auto;
}
.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  flex: 1;
  font-size: 1.1em;
  text-align: center;
}
.slider-input {
  flex: 6;
}

#info-button {
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 2em;
  color: black;
  z-index: 50;
}
#info-button:hover {
  cursor: pointer;
  color: #111;
}

#modal {
  position: fixed;
  top: 0;
  color: white;
  z-index: 999;
  background-color: #000000c4;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}
#modal-content {
  width: 50%;
  left: 25%;
  top: 10%;
  font-size: 1.3em;
  line-height: 1.5em;
  position: absolute;
}
#modal-close-button {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 2em;
  padding: 10px;
}
#modal-close-button:hover {
  cursor: pointer;
  color: #eee;
}

@media screen and (max-width: 1100px) {
  .column {
    width: 100%;
    position: relative;
    margin: 20px;
    margin: 0 0 30px 0;
  }
}
